* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */


body{
    font-family: sans-serif;
}

/* i container hanno una dimensione fissa,  centrati orizzontalmente */
.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    
}

.container-small {   

    max-width: 800px;

    margin-left: auto;
    margin-right: auto;
}


header, section {
    padding: 40px 20px;
}


.bg-gray {
    background-color: #d3d3d3;
}




/* sezione navbar */
nav {    
    padding: 10px ;

    background-color: #3161e0;
}



nav .container {
    
    display: flex;

}

nav .logo {
    
    
    padding-top: 4px;

   
}


nav .nav-links {
    flex-grow: 1;
    
    
}

nav .nav-links ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 12px;

    padding: 10px;
    

    
}


nav .nav-links ul li a{
    text-decoration: none;
    color: white;
}

nav .login {
    width: 100px;
    text-align: right;
}


.button{
    padding: 8px 15px;
   

    background-color: white;
    border-radius: 28px;
    
    border-color: transparent;
    
}

.black{
    color: white;
    background-color: #23272a;
    border-color: transparent;
}
/* fine sezione navbar */



/* sezione hero */
#hero {
    background-image: url(../img/jumbo.png);
    background-size:cover
}

#hero .container-small {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    
    max-width: 700px;
    padding: 30px;

    color: white;   
    
    
}

#hero .container-small p{
    text-align: center;

}



/* fine sezione hero */



/* sezioni grigie */



.row {
    display: flex;
}

.column-image {      
   
   
    flex-grow: 1;
}

.column-text {
    
    width: 400px;

    padding-top: 30px;
    padding-left: 50px;
    padding-right: 30px;

    font-size: 1em;
    
   
    
}

.column-text h2{
    margin-bottom: 15px;
    font-size: 2em;
    
}



.big-content {
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    text-align: center;

        
}

.blue{
    background-color: #8ea1e1;
    color: white;
    border-color: transparent;
}

/* fine sezioni grigie */


/* sezione footer */

footer {
    background-color: #23272a;
    
    padding-top: 8px;
}



footer #footer-top {
    margin-bottom: 30px;
}

footer #footer-top .footer-links {
    display: flex ;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:flex-start;
    gap: 15px;

    max-width: 200px;
    padding-top: 30px;
      
    
}

footer #footer-top .footer-column {
        
    flex-grow: 1;
}

footer h3{
    font-size: 24px;
    font-weight: bold;
    color: #8ea1e1;
}

footer .footer-links #social{
    display: flex;
    

    gap: 25px;
}


footer #footer-bottom {
   

    margin-top: 16px;
}

footer #footer-bottom {
    justify-content: space-between;

    padding: 16px 0;
}

footer ul{

    padding: 30px;
    padding-left: 50px;

    list-style: none;
    line-height: 1.5em;

    color: white;
}

footer ul li:first-child{
    color: #8ea1e1;
    font-weight: bold;
}



/* fine sezione footer */
